<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--<link rel="stylesheet" href="/ldl/bootstrap-treegrid/dist/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/ldl/bootstrap-treegrid/dist/bootstrap-table/bootstrap-table.css">
    <script src="/ldl/bootstrap-treegrid/dist/jquery/jquery-1.11.3.min.js"></script>
    <script src="/ldl/bootstrap-treegrid/dist/bootstrap/js/bootstrap.min.js"></script>
    <script src="/ldl/bootstrap-treegrid/dist/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/ldl/bootstrap-treegrid/dist/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>-->

    <div th:include="index :: header" ></div>
    <script src="/js/ldl/bootstrap-treegrid/src/bootstrap-treegrid.min.js"></script>
    <script type="text/javascript" src="/js/ldl/bootstrap-treegrid/src/area.js"></script>

    <!--<script type="text/javascript" src="../js/bootbox/bootbox.js" ></script>-->


</head>
<body>
<button type="button" onclick="addBook()" class="btn btn-info glyphicon glyphicon-plus">新增</button>
<button type="button" onclick="deleteLabel()" class="btn btn-warning "><span class="glyphicon glyphicon-trash">批删</span> </button>


<div class="container-fluid">
    <div class="row">

        <div class="col-md-2">
        </div>
        <div class="col-md-10">
<table class="table" id="tb"></table>
        </div>
    </div>
</div>

</body>
<script>
    $(function(){
       tree();
    })

    /*var tempData = [
        { "id": 1, "text": "集团总部", "pid": 0, "Status": 1 },
        { "id": 2, "text": "研发中心", "pid": 1, "Status": 1 },
        { "id": 3, "text": "软件开发部", "pid": 2, "Status": 1 },
        { "id": 4, "text": "硬件开发部", "pid": 2, "Status": 1 },
        { "id": 5, "text": "商务部", "pid": 1, "Status": 1 },
        { "id": 6, "text": "华南区", "pid": 5, " Status": 1 },
        { "id": 7, "text": "华北区", "pid": 5, "Status": 1 },
        { "id": 8, "text": "客服部", "pid": 1, "Status": 1 }
    ];*/
//
    function tree(){
    $('#tb').bootstrapTable({
    method: 'post',
    url: '/ldl/tree',
    /*data: tempData,*/
        singleSelect: true,//单行选择
        clickToSelect: true,//点击行时自动选择
        striped: true,//是否显示行间隔色
        treeView: true,//是否显示树形视图
        treeId: "id",//定义关键字段来标识树节点
        treeField: "text",//定义树节点字段
        treeParentId: "pid", //定义父级ID字段
        treeRootLevel: 1,//树根的级别
        treeCollapseAll: false,//是否全部折叠，默认折叠
        cascadeCheck: false,//是否层叠选中状态(选中父级，子级全部选中) true=层叠选中，需要singleSelect: false；false=不是层叠选中
        uniqueId: "id", //每一行的唯一标识，一般为主键列
        columns:
    [
        {field:"abc",checkbox:true},
        { field: 'pid', title: '上级ID', visible: false },
        { field: 'text', title: '机构名称' },
        { field: 'pid', title: 'pid' },
        {field:"generalstore",title:"普通店铺分佣比例"},
        {field:"ownstores",title:"自营店铺分佣比例"},
        {field:"url",title:"操作",formatter:function(value,row,index){
                var str = "<a href="+value+">&nbsp;&nbsp;查看&nbsp;&nbsp;</a>";
                str += "|<a href='javascript:editbook("+row.id+")'>&nbsp;&nbsp;修改&nbsp;&nbsp;</a>";
                str+="|<a href='javascript:deleteOne("+row.id+")'>&nbsp;删除&nbsp;</a>";
                return str;
            } }
    ]
    });
    }

    function deleteOne(id){
        var msg = "您真的确定要删除吗？\n\n请确认！";

        if(confirm(msg)==true){
            $.ajax({
                url:'/ldl/deleteclassifylist',
                type:'post',
                data:{id:id},
                success:function(data){
                    if(data){
                        tree();
                       /* $("#myTable").bootstrapTable('refresh')*/
                    }
                }
            })
        }
    }

    //新增弹框
    function addBook(){
        var dialog =bootbox.dialog({
            title: '添加',
            message: createAddContent('/ldl/toaddclassifyList'),
            size: 'large',
            buttons:{
                cancel:{
                    label: "取消",
                    className: 'btn-danger',
                    callback: function(){

                    }
                },
                ok:{
                    label: "保存",
                    className: 'btn-info',
                    callback: function(){
                        saveBook();
                    }
                }
            }
        });

    }

    //跳转路径
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    //具体新增
    function saveBook() {
        $.ajax({
            url:'/ldl/saveclassify',
            type:'post',
            data:$("#bookForm").serialize(),
            dataType:'json',
            success:function (data) {
                if(data){
                    initBookTable();
                }else{
                    bootbox.alert({
                        size:'small',
                        title:'提示',
                        message:'保存失败',
                    })
                }
            }
        })
    }


</script>
</html>