<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="fffff" class="form-horizontal">
<table id="gameTable">

    <div  class="form-group">

        <label  class="col-sm-1 control-label">类型</label>
        <div class="col-sm-7">
            <div class="input-group">
                <select class="form-control" id="addid" name="id"></select>
                <div class="input-group-addon">-</div>
                <select class="form-control" id="addpid" name="pid">
                    <option value="-1">请选择</option>
                </select>
            </div>

        </div>
    </div>


</table>
</form>

</body>
</html>