<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
    <script type="text/javascript" src="/js/bootstrap-fileinput/js/fileinput.js"></script>
    <script type="text/javascript" src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
</head>
<body>

<div class="container-fluid">
    <form id="labelForm" class="form-horizontal" method="post">
        <div  class="form-group">
            <label for="labelName" class="col-sm-1 control-label">名称</label>

            <div class="col-sm-5">
                <input type="text" class="form-control" id="labelName" name="name">
                <input type="hidden"  id="labelId" name="id">
            </div>
      </div>
        <div  class="form-group">
            <div class="col-sm-8">
                <input type="file" multiple class="projectfile" accept="image/*"  id="inputFile" name="labelImg">
                <input type="hidden" id="hideImg"  name="img">
            </div>


        </div>
        <div  class="form-group">
        <label for="labelsort" class="col-sm-1 control-label">排序</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="labelsort" name="sort">

        </div>
        </div>
        <div  class="form-group">


            <label for="labelRemark" class="col-sm-1 control-label">备注</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="labelRemark" name="remark">

            </div>
        </div>
    </form>


</div>
</body>
<script>


    function huifuImg(url){
        $('#inputFile').fileinput({
            initialPreview:url,
            //初始化图片配置：
            initialPreviewConfig: [
                {key: 1, showDelete: false}
            ],
            //是否初始化图片显示
            initialPreviewAsData: true,

            language: 'zh', //设置语言
            uploadUrl: '/label/upload.do', //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            //dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount: 2, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        }).on('fileuploaded', function(event, data, previewId, index) {
            var imgval = "http://<%= request.getServerName()%>:<%=request.getServerPort()%><%=request.getContextPath()%>/"+data.response.img;
            $('#hideImg').val(imgval);
        });


    }
</script>
</html>